/*#faq .main-content {
  padding: 20px 0 0 0;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.7;

}*/

#faq{
  width: calc(100% - 100px);
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

#faq h1 {
  font-size: 32px;
  padding-left: 40px;
  margin: 0;
  position: relative;
}

#faq h1::before{
  content: "";
  display: inline-block;
  background-image: url(../img/faq/questionmark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#faq .question {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 40px;
}

#faq .answer {
  border-bottom: 2px dotted #f39800;
  font-weight: 500;
}

#faq .sub-content {
  margin-top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.7;

}

#faq h2 {

  font-size: 1.35rem;
}

#faq .space {
  height: 80px;
}

#faq .sub-content li {
  list-style-type: circle;
  line-height: 1.7;
  margin-top: 15px;
}

#faq .yellow {
  color: #f39800;
  font-weight: bold;
}

#faq .yellow-fine {
  color: #f39800;
}

#faq .flex {
  display: flex;
  align-items: center;
}

#faq .mark {
  position: relative;
  bottom: 2px;
}