#info{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    font-weight: 590;
}

#info h1{
  padding-left: 40px;
  line-height: 1;
  position: relative;
}

#info a {
  color: var(--color-darkpink);
}

#info h2,
#info p {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  /*margin: 0;*/
}

#info h1::before{
  content: "";
  display: inline-block;
  background-image:url('/img/info/mail_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
  
  

  #info h2{
    font-size: 1.2rem;
    margin-top: 2.8rem;
  }

  #info p{
    font-size: .8rem;
  }
  
  main #info {
    padding: 100px 0rem 3rem;
  }

  main #ticket-info {
    padding-bottom: 50px;
  }
  
  main h1{
    color: var(--color-lightpink);
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
  }

  #info .box{
    border-bottom: .11rem dotted #ff3399;
  }
  /*チケット情報*/
  #ticket-info{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  main h1.h1{
    margin: 40px auto 20px auto;
    max-width: 1000px;
    border-bottom: none;
  }
  
  #ticket-info .contents .title span{
    border-bottom: none;
    color: #DD6BA3;
    font-weight: bold;
  }
  
  #ticket-info .contents ul li{
    margin-top: 10px;
    list-style:circle;
  }

  @media screen and (max-width: 400px) {
    main h1.h1 {
      font-size: 20px;
    }
  }