#exhibition{
  height: 500px;
  padding-top: 70px;
}

#experiment{
  height: 500px;
  padding-top: 70px;
}

#stage{
  height: 500px;
  padding-top: 70px;
}

#booth{
  height: 500px;
  padding-top: 70px;
}