#privacy {
    width: calc(100% - 200px);
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 590;
}

#privacy h1{
    color:#DD6BA3;
    padding-left: 40px;
    line-height: 1;
    position: relative;
}
  
#privacy h1::before{
    content: "";
    display: inline-block;
    background-image:url('/img/privacy/lock_FILL0_wght400_GRAD0_opsz48.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#privacy .text {
    padding: 50px auto;
}

#privacy .text p {
    margin: 50px auto;
}

#privacy .text p a {
    color: var(--color-lightpink);
}

#privacy .text li {
    list-style-type: disc;
    margin: 30px auto;
}

@media screen and (max-width: 750px){
    #privacy {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 550px){
    #privacy {
        width: calc(100% - 50px);
    }
}
