/* 全体 ------------------- 
--------------------------*/
main{
  padding: 100px 20px 50px;
  /*width: min-content;*/
}

/*#timetable .page-header{
  position: fixed;
}*/

#timetable h1{
  color:#DD6BA3;
  padding-left: 40px;
  line-height: 1;
  position: relative;
}

#timetable .title::before{
  content: "";
  display: inline-block;
  background-image:url('../img/timetable/time.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 日付切り替えボタン ----- 
--------------------------*/
#timetable .nav{
  font-size: 0;
}

#timetable .nav .nav-line{
  display: inline-block;
  height: 2px;
  background-color: #DD6BA3;
}

#timetable .date-button{
  display: inline-block;
  font-size: 16px;
  padding: 20px 10px;
  position: relative;
  width: max-content;
  height: min-content;
}

#timetable .date-button .button{
  display: inline-block;
}

#timetable .button{
  color: #DD6BA3;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #DD6BA3;
  border-width: 2px;
  padding: 8px 30px;
  line-height: 1;
  text-align: center;
  border-radius: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: .2s;
  font-weight: bold;
}

#timetable .button:hover{
  color: #FFFFFF;
  background-color: #DD6BA3;
}

#timetable .button.active{
  color: #FFFFFF;
  background-color: #DD6BA3;
}

#timetable .button:last-child{
  margin-right: 0;
}

/* コンテンツ ------------- 
--------------------------*/
#timetable .contents-wrapper{
  overflow-x: scroll; /* 横スクロール */
  position: relative;
}

#timetable .content-wrapper{
  display: none; /* 基本非表示 */
  max-width: max-content;
  min-width: max-content;
  margin: auto;
  /*padding-top: 200px;*/
}


#timetable .content-wrapper.active{ 
  display: block; /* activeのとき表示 */
  width: 1200px;
}

.project-type-button{
  display: none; /* 基本非表示 */
  font-size: 16px;
}

.project-type-button.active{
  display: block; /* activeのとき表示 */
}

#timetable .project-type{
  display: inline-block; /* 横並び */
  vertical-align: top;
  padding-right: 20px;
  z-index: 1;
}

#timetable .project-type:last-child{
  padding-right: 0; /* 最後は右余白なし */
}

#timetable .label{
  color: #BEBEBE;
  font-weight: bold;
  background-color:#FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  padding: 8px 0;
}

#timetable .label div:first-child{
  font-size: 20px;
}

#timetable .label div:last-child{
  font-size: 16px;
}

#timetable .project-block{
  position: relative;
  color: #000;
  width: 450px;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  z-index: 0;
}

#timetable .project-block::before{
  content: "";
  background: inherit;
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -2;
}

#timetable .project-block::after{
  content: "";
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#timetable .project-block .time{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
  z-index: 5;
}

#timetable .project-block .projectName{
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  line-height: 1.2;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#timetable .project-block .groupName{
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  z-index: 5;
}

#timetable .project-block .detail{
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 5;
}

#timetable .project-block .detail a {
  font-size: 12px;
  border-radius: 15px;
  line-height: 1;
  padding: 7px 35px;
  background-color: #FFFFFF;
  opacity: 0.8;
  color: #1D97FF;
  font-weight: bold;
  transition: .2s;
}

#timetable .project-block .detail a:hover {
  background-color: #1D97FF;
  opacity: 1;
  color: #ffffff;
}



#timetable .project-block.finished::after{ /* 企画終了 */
  border-color: #A0A0A0 !important;
  background-color: #A0A0A0 !important;
}


#timetable .project-block .now-playing{
  display: none; /* 基本非表示 */
}

#timetable .project-block.now .now-playing{
  display: block; /* activeのとき表示 */
  font-size: 14px;
  font-weight: bolder;
  line-height: 1;
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 0 10px 0 10px;
  padding: 5px 40px;
}

#timetable .h-scroll{
  opacity: 0;
  position: fixed;
  width: 100px;
  top: 50%;
  right: 10px;
  z-index: 10;
  transition: .7s;
  cursor: pointer;
}

#timetable .h-scroll.right:hover {
  transform: translateX(3px);
}

#timetable .h-scroll.left:hover {
  transform: translateX(-3px);
}

#timetable .h-scroll.active{
  opacity: 1;
}

#timetable .h-scroll.left{
  left: 10px;
}

#timetable .h-scroll.right{
  right: 10px;
}

@media screen and (max-width: 576px){
  html{
    font-size: clamp(12px, 4vw, 16px);
  }

  #timetable .title{
    font-size: 2rem;
  }

  #timetable .project-type-button{
    margin-bottom: 20px;
  }

  #timetable .project-type-button .button{
    width: 240px;
    margin: auto;
    margin-bottom: 10px;
  }

  #timetable .project-type{
    display: none;
    padding-right: 0;
  }

  #timetable .project-type.active{
    display: block;
  }

  #timetable .content-wrapper.active{
    width: 100%;
    max-width: initial;
    min-width: initial;
  }

  #timetable .project-block{
    width: 100%;
    height: min-content;
  }

  #timetable .project-block .time{
    font-size: 1rem;
    padding-bottom: 0.6rem;
  }
  #timetable .project-block .projectName{
    font-size: 1.25rem;
    line-height: 1.2;
    overflow:auto;
    text-overflow: clip;
    white-space: normal;
  }
  #timetable .project-block .groupName{
    font-size: 0.75rem;
    padding: 0.6rem 0 0.6rem 0.8rem;
  }
  #timetable .project-block .detail{
    position: static;
    width: max-content;
    font-size: 0.75rem;
    padding: 7px 0;
  }

  #timetable .h-scroll{
    display: none;
  }
}