/* 全体 ------------------- 
--------------------------*/
#timetable{
  width: calc(100% - 100px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 50px;
}

@media screen and (max-width: 768px) {
  #timetable{
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 480px) {
  #timetable{
    width: calc(100% - 30px);
  }
}

/*#timetable .page-header{
  position: fixed;
}*/

#timetable h1{
  font-size: 32px;
  padding-left: 40px;
  position: relative;
  margin-top: 0;
}

#timetable .title::before{
  content: "";
  display: inline-block;
  background-image:url('../img/timetable/time.svg');
  background-size: contain;
  background-color: --color-font;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 日付切り替えボタン ----- 
--------------------------*/
#timetable .nav{
  font-size: 0;
}

#timetable .nav .nav-line{
  display: inline-block;
  height: 2px;
  background-color: var(--color-font);
}

#timetable .date-button{
  display: inline-block;
  font-size: 16px;
  padding: 20px 10px;
  position: relative;
  width: max-content;
  height: min-content;
}

#timetable .date-button .button{
  display: inline-block;
}

#timetable .button{
  color: var(--color-font);
  background-color: #FFFFFF;
  border-style: solid;
  border-color: var(--color-font);
  border-width: 2px;
  padding: 8px 30px;
  line-height: 1;
  text-align: center;
  border-radius: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: .2s;
  font-weight: bold;
}

#timetable .button:hover{
  color: #FFFFFF;
  background-color: var(--color-font);
  transform: scale(110%);
}

#timetable .button.active{
  color: #FFFFFF;
  background-color: var(--color-font);
}

#timetable .button:last-child{
  margin-right: 0;
}

/* コンテンツ ------------- 
--------------------------*/
#timetable .contents-wrapper{
  overflow-x: scroll; /* 横スクロール */
  position: relative;
}

#timetable .content-wrapper{
  display: none; /* 基本非表示 */
  max-width: max-content;
  min-width: max-content;
  margin: auto;
  /*padding-top: 200px;*/
}


#timetable .content-wrapper.active{ 
  display: block; /* activeのとき表示 */
  width: 1200px;
}

.project-type-button{
  display: none; /* 基本非表示 */
  font-size: 16px;
}

.project-type-button.active{
  display: block; /* activeのとき表示 */
}

#timetable .project-type{
  display: inline-block; /* 横並び */
  vertical-align: top;
  padding-right: 20px;
  z-index: 1;
}

#timetable .project-type:last-child{
  padding-right: 0; /* 最後は右余白なし */
}

#timetable .label{
  font-weight: bold;
  background-color:var(--color-orange);
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 8px 0;
  color: #FFFFFF;
}

#timetable .label div:first-child{
  font-size: 20px;
}

#timetable .label div:last-child{
  font-size: 16px;
}

#timetable .project-block{
  position: relative;
  color: #000;
  width: 300px;
  height: 80px;
  margin-top: 20px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}

#timetable .project-block::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px var(--color-lightblue);
  border-radius: 10px;
  z-index: -2;
}

#timetable .project-block::after{
  content: "";
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#timetable .project-block .time{
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 8px;
  z-index: 5;
  position: absolute;
  display: inline-block;
  top: -9px;
  left: 10px;
  padding: 0 9px;
  line-height: 2;
  background: #FFF;
  font-weight: bold;
}

#timetable .project-block .projectName{
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  line-height: 1.2;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  padding-left: 10px;
}

#timetable .project-block .groupName{
  font-size: 10px;
  padding: 8px 5px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 5;
}

#timetable .project-block:hover{
 transition: transform 0.2s;
 transform: scale(110%); 
}



#timetable .project-block.finished::after{ /* 企画終了 */
  border-color: #A0A0A0 !important;
  background-color: #A0A0A0 !important;
}

#timetable .project-block.finished .time{
  background-color: #A0A0A0;
}

#timetable .project-block .now-playing{
  display: none; /* 基本非表示 */
}

#timetable .project-block.now .now-playing{
  display: block; /* activeのとき表示 */
  font-size: 14px;
  font-weight: bolder;
  line-height: 1;
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 0 10px 0 10px;
  padding: 5px 20px 15px 40px;
}

#timetable .h-scroll{
  opacity: 0;
  position: fixed;
  width: 100px;
  top: 50%;
  right: 10px;
  z-index: 10;
  transition: .7s;
  cursor: pointer;
}

#timetable .h-scroll.right:hover {
  transform: translateX(3px);
}

#timetable .h-scroll.left:hover {
  transform: translateX(-3px);
}

#timetable .h-scroll.active{
  opacity: 1;
}

#timetable .h-scroll.left{
  left: 10px;
}

#timetable .h-scroll.right{
  right: 10px;
}

@media screen and (max-width: 576px){
  html{
    font-size: clamp(12px, 4vw, 16px);
  }

  #timetable .title{
    font-size: 2rem;
  }

  #timetable .project-type-button{
    margin-bottom: 20px;
  }

  #timetable .project-type-button .button{
    width: 240px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #timetable .project-type{
    display: none;
    padding-right: 0;
  }

  #timetable .project-type.active{
    display: block;
  }

  #timetable .content-wrapper.active{
    width: 100%;
    max-width: initial;
    min-width: initial;
  }

  #timetable .project-block{
    width: 100%;
    height: min-content;
  }
  #timetable .project-block.now .now-playing{
    padding:15px 40px;
  }
  #timetable .project-block .time{
    font-size: 1rem;
    padding-bottom: 0.6rem;
  }
  #timetable .project-block .projectName{
    font-size: 1.25rem;
    line-height: 1.2;
    overflow:auto;
    text-overflow: clip;
    white-space: normal;
  }
  #timetable .project-block .groupName{
    font-size: 0.75rem;
    padding: 0.6rem 0 0.6rem 0.8rem;
  }
  #timetable .project-block .detail{
    position: static;
    width: max-content;
    font-size: 0.75rem;
    padding: 7px 0;
  }

  #timetable .h-scroll{
    display: none;
  }
}