.lastyear {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  z-index: 1000;
  font-size: xx-large;
  font-weight: bold;
  padding: 20px;
  border: solid;
}

/*******************************

    Loading背景画面設定

 *******************************/
 #splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:var(--color-background);
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*******************************

     共通

*******************************/
/*--- 左右の余白等 ---*/
#participants,
#movie,
#notes,
#theme,
#specialguest,
#access,
#sponsor{
  width: calc(100% - 100px);
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  #participants,
  #movie,
  #notes,
  #theme,
  #specialguest,
  #access,
  #sponsor{
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 480px) {
  #participants,
  #movie,
  #notes,
  #theme,
  #specialguest,
  #access,
  #sponsor{
    width: calc(100% - 30px);
  }
}

/*--- 見出し ---*/
h1{
  text-align: center;
  font-size: 32px;
  padding: 20px;
  margin: 0;
}

/*--- テキストボックス ---*/
div.textbox{
  width: 100%;
  background-color: #FFF;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

@media screen and (max-width: 480px) {
  div.textbox{
    padding: 25px;
  }
}

/*--- ボタン ---*/
div.button{
  width: 250px;
  height: 40px;
  background-color: #FFF;
  border: solid 1px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-family: var(--font-headline);
  margin: 0 0 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

div.button:hover{
  font-size: 18px;
  border-color: #FFF;
}

div.button a{
  color: var(--color-font);
}

/*******************************

     トップ

*******************************/
#top{
  height: calc(100vh - 70px);
  background: linear-gradient(135deg, rgba(251, 165, 24, 0.2) 30%, rgb(255, 253, 205) 30% 70%, rgba(0, 255, 255, 0.2) 70%);
  position: relative;
}

/*--- 背景の三角形 ---*/
#top .triangle{
  position: absolute;
  width: 100%;
  height: calc(100vh - 70px);
  background: linear-gradient(135deg, rgba(251, 165, 24, 1) 20%, transparent 20% 80%, rgba(0, 255, 255, 1) 80%);
  z-index: 1;
}

#top .box{
  width: 90%;
  height: 60%;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 0;
}

#top .content{
  width: 90%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 5;
}

#top .content .icon{
  width: 25%;
  max-height: 70%;
  object-fit: contain;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 2;
}

#top .content .spark{
 width: 60%;
 max-height: 40%;
 object-fit: contain;
 margin: auto;
 position: absolute;
 top: 20%;
 right: 10%;
}

/*--- 日程 ---*/
#top .content .schedule{
  color: var(--color-orange);
  font-weight: bold;
  width: 60%;
  max-height: 30%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 2;
}

#top .content .schedule p{
  margin: 0;
}

#top .content .schedule .date{
  font-size: 50px;
}

#top .content .schedule .time{
  font-size: 40px;
}

@media screen and (max-width: 1040px) {
  #top .box,
  #top .content{
    height: 70%;
  }
  #top .content .icon{
    max-height: 50%;
  }

  #top .content .schedule{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #top,
  #top .triangle{
    height: 100vh;
  }

  #top .content .icon{
    max-height: 30%;
  }

  #top .content .spark{
    max-height: 20%;
  }

  #top .content .schedule{
    display: block;
    max-height: 60%;
  }

  #top .content .schedule > div{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  #top .box,
  #top .content{
    height: 80%;
  }

  #top .content .spark{
    top: 15%;
  }    

  #top .content .schedule{
    bottom: 15%;
    max-height: 50%;
  }

  #top .content .schedule > div{
    display: block;
  }

  #top .content .schedule .time{
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  #top .content .schedule .date{
    font-size: 48px;
  }

  #top .content .schedule .time{
    font-size: 36px;
  }
}

@media screen and (max-width: 360px) {
  #top .content .icon{
    top: 10%;
  }

  #top .content .spark{
    width: 70%;
    top: 25%;
  }

  #top .content .schedule .date{
    font-size: 40px;
  }
}

/*******************************

     出展団体

 *******************************/
#participants .wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 20px;
}
/*
#participants .wrapper::after{
  content: "";
  width: 130px;
  height: 0;
  padding: 10px;
  margin: 5px;
}
*/
#participants .wrapper a{
  display: inherit;
}

#participants .container{
  width: 150px;
  height: 150px;
  justify-self: center;
  align-self: center;
  background-color: #FFF;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

#participants .container:hover{
  width: 160px;
  height: 160px;
  margin: 0;
}

#participants .container .inner-box{
  width: 100%;
  height: 100%;
  border: solid 1px var(--color-font);
  padding: 10px;
}

#participants .container .inner-box .back-img{
  width: 100%;
  height: 100%;
  background-image: url(../img/common/logo-orange.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#participants .general .container .inner-box .back-img{
  background-image: url(../img/top/exhibition.jpg);
}

#participants .stage .container .inner-box .back-img{
  background-image: url(../img/top/stage.jpg);
}

#participants .experiment .container .inner-box .back-img{
  background-image: url(../img/top/experiment.jpg);
}

#participants .shops .container .inner-box .back-img{
  background-image: url(../img/top/booth.jpg);
}

#participants .online .container .inner-box .back-img{
  background-image: url(../img/top/online.png);
}

#participants .container .inner-box .back-img p{
  width: 100%;
  color: var(--color-font);
  font-size: 24px;
  font-weight: 500;
  background-color: #FFF;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s;
}

#participants .container:hover .inner-box .back-img p{
  font-size: 26px;
}

@media screen and (max-width: 720px) {
  #participants .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 360px) {
  #participants .wrapper{
    grid-template-columns: 1fr;
  }
}

/* 英語のとき例外処理 */
#participants[lang="en"] .experiment .container .inner-box .back-img p{
  font-size: 18px;
}

#participants[lang="en"] .experiment .container:hover .inner-box .back-img p{
  font-size: 20px;
}

/*******************************

     出展団体

 *******************************/
#movie{
  padding-top: 40px;
}

#movie iframe{
  display: block;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  margin: auto;
}

/*******************************

     お願い

*******************************/
#notes .textbox > div:not(:last-child){
  margin-bottom: 70px;
}

#notes .textbox h2{
  text-align: center; 
}

#notes .textbox h3{
  font-size: 22px;
  text-align: center;
  margin: 40px 0 10px;
}

#notes .textbox h3 span{
  font-size: 28px;
  color: var(--color-orange);
}

#notes .textbox p{
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}

#notes .textbox ul{
  font-size: 20px;
  font-weight: 500;
}

#notes .textbox ul li{
  list-style-type: square;
}

#notes .textbox ul li br{
  display: none;
}

#notes img{
  display: block;
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.video{
  width: 100%;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}
.video iframe{
  position:relative;
  top: 0;
  left: 0;
  bottom: 20;
  width: 70%;
  height: 70%;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 624px) {
  #notes .textbox p{
    font-size: 16px;
  }

  #notes .textbox ul{
    font-size: 16px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 456px) {
  #notes .textbox h2{
    font-size: 20px;
  }
}

@media screen and (max-width: 416px) {
  #notes .textbox ul li br{
    display: inline;
  }
}

/*******************************

     テーマ

*******************************/
/*--- 背景ベンツ ---*/
.back-benz{
  background-image: url(../img/theme/background_benz.svg);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: bottom right 40vw;
}

#theme .wrapper{
  display: flex;
}

#theme .text{
  width: 60%;
  font-family: var(--font-serif);
  padding: 50px 50px 0 0;
  position: relative;
}

#theme .text .headding{
  position: absolute;
  top: 20px;
}

#theme .text h2{
  font-size: 32px;
  margin: 20px 0 40px;
}

#theme .text p{
  text-align: center;
  margin-bottom: 40px;
}

#theme .img{
  width: 40%;
  padding: 50px 0;
}

#theme .img img{
  display: block;
  width: 100%;
  margin: 20px auto;
}

@media screen and (max-width: 976px) {
  .back-benz{
    background-position: bottom right 50px;
  }

  #theme .wrapper{
    display: block;
    position: relative;
  }

  #theme .text{
    width: 100%;
    padding: 50px 0 0;
  }

  #theme .text p{
    margin-right: 40%;
  }

  #theme .img{
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 720px) {
  .back-benz{
    background-size: 150% auto;
    background-position: bottom 100px right 25px;
  }

  #theme .text p{
    margin-right: 0;
    margin-bottom: 220px;
  }

  #theme .img{
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  #theme .text h2{
    font-size: 24px;
  }
}

/*******************************

     有名人企画

*******************************/
#specialguest .wrapper{
  display: flex;
}

#specialguest .img{
  width: 40%;
}

#specialguest .img img{
  display: block;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  margin: auto;
}

#specialguest .text{
  width: 60%;
  padding-left: 50px;
}

#specialguest .text h2{
  font-size: 20px;
  color: var(--color-orange);
  margin: 0;
}

#specialguest .text .name{
  font-size: 32px;
  font-family: var(--font-serif);
  border-bottom: solid 1px;
}

#specialguest .text .description{
  font-size: 20px;
  font-family: var(--font-serif);
  margin-top: 10px;
}

#specialguest .text p{
  font-family: var(--font-serif);
}

@media screen and (max-width: 600px) {
  #specialguest .wrapper{
    position: relative;
  }

  #specialguest .img{
    width: 100%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  #specialguest .text{
    width: 100%;
    padding-left: 0;
  }

  #specialguest .text p{
    margin-top: 350px;
  }
}

/*******************************

     アクセス

*******************************/
#access .textbox{
  display: flex;
}

#access .textbox .text{
  width: 40%;
}

#access .textbox .text > div:first-child{
  padding-bottom: 20px;
}

#access .textbox .text h2{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

#access .textbox .text p{
  margin: 0;
}

#access .textbox iframe{
  width: 60%;
  padding-left: 20px;
}

@media screen and (max-width: 856px) {
  #access .textbox .text{
    width: 50%;
  }

  #access .textbox iframe{
    width: 50%;
  }
}

@media screen and (max-width: 672px) {
  #access .textbox{
    display: block;
  }

  #access .textbox .text{
    width: 100%;
  }

  #access .textbox iframe{
    width: 100%;
    height: 300px;
    padding: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 472px) {
  #access .textbox .text h2{
    font-size: 20px;
  }
}

/*******************************

     ご協賛

*******************************/
#sponsor div.gold,
#sponsor div.silver {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

#sponsor div.gold a {
  width: calc((100% - 20px)/2);
  aspect-ratio: 3 / 1;
  margin-bottom: 15px;
}

#sponsor div.silver a,
#sponsor div.silver div.inactive {
  width: calc((100% - 40px)/3);
  aspect-ratio: 2 / 1;
  margin-bottom: 15px;
}

#sponsor img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-gray);
  cursor: pointer;
}



@media screen and (max-width:600px) {
  #sponsor div.gold {
    margin-bottom: 20px;
  }

  #sponsor div.gold a {
    width: calc((100% - 10px)/2);
  }

  #sponsor div.silver a,
  #sponsor div.silver div.inactive {
    width: calc((100% - 20px)/3);
  }
}

/*******************************

     企画検索

 *******************************/
 #search{
  display: none;
  position: fixed;
  bottom: 120px;
  right: 100px;
  z-index: 5;
  transition: opacity .7s;
}

@media screen and (max-width: 1200px) {
  #search{
    right: 70px;
  }
 }

 @media screen and (max-width: 1100px) {
  #search{
    right: 40px;
  }
 }

 @media screen and (max-width: 768px) {
  #search{
    right: 10px;
  }
 }

 @media screen and (max-width: 480px) {
  #search{
    right: 5px;
  }
 }

 #search.active{
  display: block;
  animation: appear .5s ease;
 }

 @keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

 #search div{
  width: 100px;
  height: 80px;
  color: var(--color-font);
  background-color: #FFF;
  border: solid 1px;
  line-height: 40px;
  text-align: center;
  font-family: var(--font-headline);
  margin: 0 0 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: .3s;
  position: relative;
  padding-top: 40px;
 }

 
#search div:hover{
  font-size: 18px;
  border-color: #FFF;
}

 #search div::before{
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/search/search.svg);
 }